.myInput {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid orange;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-weight: 800;
    font-size: 25px;
     height: 35px;
}